.register {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #56ab2f, #a8e063);
}

.register-form {
    background-color: #fff;
    padding: 0 6rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
}

.register-form-title {
    margin: 2rem 0;
    color: #56ab2f;
    text-align: center;
}

.register-form-submit-btn {
    font-family: inherit;
    width: 100%;
    padding: 1rem;
    background-color: #56ab2f;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    transition: all 0.3s ease;
}

.register-form-submit-btn:hover {
    background-color: #47812d;
}
